@import "tailwindcss";
@plugin "daisyui";
@config "../tailwind.config.js";

:root {
  --bg: #fffffff1;
  --surface: #f8fafc;
  --muted: #64748b;
  --border: #e6eef8;
  --ring: #c7d2fe;
  --focus: #334155;
  --text: #0f172a;
}

.dark {
  --bg: #0b1220;
  --surface: #0f1724;
  --muted: #94a3b8;
  --border: #1f2937;
  --ring: #5b21b6;
  --focus: #e6edf3;
  --text: #e6eef8;
}

#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
  font-family: "IBM Plex Sans", serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
p {
  font-weight: 100;
  line-height: 1.5;
}
