:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  cursor: pointer;
}
.profile-image {
  background-image: url("./assets/IMG_0885.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
}
.profile-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(177, 120, 29, 0.704);
  z-index: -11;
  border-radius: 10rem;
  filter: opacity(0.4);
}
.hero-comp {
  min-height: calc(100vh - 5rem);
}
button {
  cursor: pointer;
}
/* .nav a {
  position: relative;
}
.nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 30px;
  background: #fffb00;
  opacity: 0.2;
  box-sizing: content-box;
  padding: 4px;
  inset: 0;
}
.nav a:hover{
  
} */
/* .hero-none-graphic {
  z-index: 10;
  position: relative;
}
.hero-none-graphic::before {
  content: "";
  position: absolute;
  display: none;
  left: 300;
  top: 200;
  width: 100px;
  height: 100px;
  background: #29f51e;
  z-index: 9;
  border-radius: 100rem;
  filter: blur(40px);
} */
.card-comp {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.4),
    rgba(224, 223, 223, 0.461)
  );
  backdrop-filter: blur(10px);
  border: none;
  box-shadow: 0px 0px 5px 0px #00000047;
}
.skills-box {
  background-color: rgba(255, 255, 255, 0.579);
  backdrop-filter: blur(100px);
}
.hero-comp {
  position: relative;
}
.hero-comp::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
}
